/* Body */

body{
    font-family: 'Alegreya', serif;
}

.bodycontainer{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

body h4{
    border-bottom: 2px solid black;
    margin: 10px;
}

h1{
    margin-top: 0px !important;
    padding-top: 100px;
}

.card-content a{
    color: #000000;
}

.d-inline{
    display: inline;
}

.timeFont{
    font-size: 6px;
}

/* Some custom margins and max widths */

.margin-top{
    margin-top: 15px;
}

.base_margin{
    margin: 15px;
}

.max-width{
    max-width: 140px;
}

/* Nav */

.brand-logo{
    margin-left: 320px;
    left: 0% !important;
    margin-top: 8px;
    font-size: 3.1rem !important;
}

.nav-extended{
    height: 80px !important;
    background-color: #a62d12;
}

#nav-mobile{
    margin-top: 10px;
}

#nav-mobile a {
    font-size: 25px;
}

#nav-mobile li a:hover{
    font-size: 28px;
    text-decoration: underline;
}

/* Home Page */

.masthead{
    background-image: url('../../static/images/home_background_img.jpg');
    background-size: cover;
    height: 470px;
}

.jumbotron-about{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
    color: #fafafa;
}

.subheading{
    font-size: 1.7rem;
}

.btn-color{
    background-color: #a62d12;
}

#search_Label{
    font-family: 'Alegreya', serif;
}

#search_button{
    font-size: 16px;
    font-family: 'Alegreya', serif;
}

.card{
    background-color: blanchedalmond;
}

.card-image{
    width: 250px;
    max-width: 250px;
}

.card-image img{
    width: 100% !important;
    height: 100%;
}

.m-2{
    margin: 2rem;
}

.card{
    min-height: 210px;
}

.mainpageIcons i{
    float: left;
    margin-right: 5px;
}

.mainpageIcons p{
    font-size: 20px;
}

.mainpageIcons p span{
    font-size: 12px;
}

.recipe_buttons{
    width: 100px;
    margin-right: 5px;
    margin: 10;
}

.recipe_buttons a{
    margin-right: 5px;
    height: 65px;
    letter-spacing: 1.5px !important;
}

.recipe_buttons i{
    font-size: 2.3rem !important;
}

#delete_recipe{
    margin-top: 35px;
}

#edit_recipe{
    margin-top: 14px;
    margin-bottom: 50px;
}


/* View Recipe */

.recipe_content{
    background-color: blanchedalmond;
    border-radius: 15px;
    min-height: 360px;
    padding-top: 15px;
}

.recipeImage{
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}

#recipe_title{
    margin: 10px !important;
    padding-top: 10px !important;
}

.recipe_description{
    height: 150px;
}

.recipe_description p{
    font-size: 2.0rem;
    margin: 10px !important;
}

#cooking_time_container{
    margin-bottom: 10px;
    margin-top: 6px;
}

#cooking_time_container i{
    margin-top: 15px;
}

.icon_font_size{
    font-size: 1.2rem;
}

#difficulty_and_serves{
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.icon_inline{
    display: inline-flex;
}

.icon_inline div{
    margin-top: 3px;
}



/* Details Section */

.ingredients{
    padding: 20px;
}

.ingredients ul{
    padding: 10px;
}

.ingredients ul li{
    padding: 5px;
    font-size: 16px;
}

.ingredients ul li:hover{
    font-style: italic;
}

.cooking_methods{
    padding: 20px;
}

.cooking_methods ul{
    padding: 10px;
}

.cooking_methods ul li{
    padding: 5px;
    font-size: 16px;
}

.cooking_methods ul li:hover{
    font-style: italic;
}

/* Error html */

.flashes{
    font-size: 16px;
}

/* Creating or Editing Recipes Pages */

.input-field{
    margin-left: 5px;
}

.input-field label{
    min-width: 120px;
}

#prep-time{
    margin-right: 70px !important;
}

.select-dropdown{
    font-size: 12px !important;
    width: 100%;
}



/* Media Queries */

@media only screen and (max-width: 400px){
    .brand-logo{
        margin-left: 240px;
        
    }
}

@media only screen and (max-width: 600px){
    nav .brand-logo {
        left: 0% !important;
        font-size: 2.0rem !important;
        margin-left: 180px !important;
    }

    .masthead{
        height: 350px;
    }

    .card-content{
        padding: 5px !important;
    }

    .mainpageIcons{
        display: inline-flex !important;
    }

    .mainpageIcons p{
        font-size: 17px;
    }

    .card.horizontal .card-image {
        max-width: 30% !important;
    }

    #header{
        margin: 0px 0px 8px 4px !important;
    }
    
    .card-content{
        padding: 4px;
    }

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.15rem;
    }
    
    .subheading {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 601px){
    h1 {
        font-size: 3.2rem;
    }

    h2{
        font-size: 2.56rem;
    }
}