{% extends 'base.html' %} {% block content %}


<form  action="/insert_recipe" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col s4">
            <img src="https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg"
                alt="placeholderImage">
            <input type="file" class="custom-file-input" name="image" id="image">
        </div>

        <div class="col s8">
            <div class="row">
                <h1>
                    <div class="input-field">
                        <input id="recipe_name" name="recipe_name" type="text" class="validate">
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </h1>
                <div>
                    <div class="input-field">
                        <textarea id="description" name="description"
                            class="materialize-textarea recipe_description"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <i class="small material-icons">access_time</i>


                    <div class="input-field col s12">
                        <input id="prep_time" name="prep_time" type="text" class="validate">
                        <label for="prep_time">Preparation Time</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="cooking_time" name="cooking_time" type="text" class="validate">
                        <label for="cooking_time">Cooking Time</label>
                    </div>
                </div>
                <div class="col s6">
                    <i class="small material-icons">free_breakfast</i>
                    <div class="input-field col s12">
                        <label for="difficulty">Difficulty</label>

                        <div class="input-field col s12">
                            <select name="difficulty">
                              <option value="" disabled selected>Choose your option</option>
                              <option value="Easy">Difficulty: Easy</option>
                              <option value="Average">Difficulty: Average</option>
                              <option value="Hard">Difficulty: Hard</option>
                            </select>
                            <label>Materialize Select</label>
                          </div>

                    </div>
                    <i class="small material-icons">local_dining</i>

                    <div class="input-field col s12">

                        <label for="serves">Serves</label>
                        
                        <div class="input-field col s12">
                            <select name="serves">
                              <option value="" disabled selected>Choose your option</option>
                              <option value="1">Serves: One</option>
                              <option value="2">Serves: Two</option>
                              <option value="3">Serves: Three</option>
                              <option value="4">Serves: Four</option>
                              <option value="5">Serves: Five</option>
                              <option value="6">Serves: Six+</option>
                            </select>
                            <label>Materialize Select</label>
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s4 ingredients">
            <h4>List of Ingrediants</h4>
            <ul class="d-none ingredients-list"></ul>
            <input id="ingredient" type="text" class="validate">
            <button id="add_ingredient" type="button">
                <div><i class="small material-icons">add</i></div>
            </button>
        </div>

        <div class="col s6 cooking_methods">
            <h4>Cooking Methods</h4>
            <ul class="d-none cooking-methods-list"></ul>
            <input id="method" type="text" class="validate">
            <button id="add_cooking_method" type="button">
                <div><i class="small material-icons">add</i></div>
            </button>
        </div>

    </div>

    <button>
        <div><i class="small material-icons"></i>Update</div>
    </button>
    <button>
        <div><i class="small material-icons"></i>Cancel</div>
    </button>
</form>

{% endblock %}