{% extends 'base.html' %} {% block content %}


<form class="recipe-form" action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" enctype="multipart/form-data">
    <div class="row recipe_content">
        <div class="form-group col s12 m4 l4">
            <img id="recipe_image" class="recipeImage" src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}"
                onerror="this.src='/static/images/placeholder.jpg'">
            <div class="file-field input-field">
                <div class="btn btn-unique btn-color btn-rounded btn-sm">
                    <span>File</span>
                    <input type="file" name="image" id="image" accept="jpg, png, jpeg">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="col s12 m8 l8 margin-top">

            <div class="input-field">
                <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}"
                    required>
                <label for="recipe_name" class="active">Recipe Name</label>
            </div>

            <div class="input-field">
                <textarea id="description" name="description" class="materialize-textarea recipe_description"
                    required>{{recipe.recipe_description}}</textarea>
                <label for="description" class="active">Description</label>
            </div>

            <div>
                <div class="icon_inline">
                    <i class="small material-icons margin-top">access_time</i>
    
    
                    <div id="prep-time" class="input-field base_margin">
                        <input id="prep_time" name="prep_time" class="validate" value="{{recipe.prep_time}}" type="number"
                            min="1" max="60" required>
                        <label for="prep_time" class="active">Preparation Time</label>
                    </div>
                    <div class="input-field base_margin">
                        <input id="cooking_time" name="cooking_time" class="validate" value="{{recipe.cooking_time}}"
                            type="number" min="1" max="60" required>
                        <label for="cooking_time" class="active">Cooking Time</label>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="icon_inline">
                    <i class="small material-icons margin-top">free_breakfast</i>
                    <div class="input-field max-width">
                        <label for="difficulty" class="active">Difficulty</label>
    
                        <select id="difficulty" name="difficulty" required>
                            <option value="{{recipe.difficulty}}" selected>{{recipe.difficulty}}</option>
                            <option value="Easy">Difficulty: Easy</option>
                            <option value="Average">Difficulty: Average</option>
                            <option value="Hard">Difficulty: Hard</option>
                        </select>
    
                    </div>
                    <i class="small material-icons margin-top">local_dining</i>
    
                    <div class="input-field max-width">
    
                        <label for="serves" class="active">Serves</label>
    
                        <select id="serves" name="serves" required>
                            <option value="{{recipe.serves}}" selected>Serves: {{recipe.serves}}</option>
                            <option value="1">Serves: 1</option>
                            <option value="2">Serves: 2</option>
                            <option value="3">Serves: 3</option>
                            <option value="4">Serves: 4</option>
                            <option value="5">Serves: 5</option>
                            <option value="6+">Serves: 6+</option>
                        </select>
    
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class=" col s12 m6 l6 ingredients">
            <h4>List of Ingrediants</h4>
            <ul class="ingredients-list">
                {% for ingredient in recipe.ingredients %}
                <li>
                    <p>{{ingredient}}</p>
                    <input type="hidden" name="ingredients" value="{{ingredient}}">
                    <button type="button" class="deleteListItem btn btn-unique btn-color btn-rounded btn-sm">
                        <i class="small material-icons">delete</i>
                    </button>
                </li>

                {% endfor %}
            </ul>
            <span></span>
            <input id="ingredient" type="text" class="validate">
            <button id="add_ingredient" class="btn btn-unique btn-color btn-rounded btn-sm" type="button">
                <i class="small material-icons">add</i>
            </button>
        </div>

        <div class=" col s12 m6 l6 cooking_methods">
            <h4>Cooking Methods</h4>
            <ul class="cooking-methods-list">
                {% for method in recipe.methods %}
                <li>
                    <p>{{method}}</p>
                    <input type="hidden" name="methods" value="{{method}}">
                    <button type="button" class="deleteListItem btn btn-unique btn-color btn-rounded btn-sm">
                        <i class="small material-icons">delete</i>
                    </button>
                </li>
                {% endfor %}
            </ul>
            <span></span>
            <input id="method" type="text" class="validate">
            <button id="add_cooking_method" class="btn btn-unique btn-color btn-rounded btn-sm" type="button">
                <i class="small material-icons">add</i>
            </button>
        </div>

    </div>

    <button class="btn btn-unique btn-color btn-rounded btn-sm">
        <div><i class="small material-icons">add_box</i>Update</div>
    </button>

    <a href="{{url_for('get_recipes')}}" class="btn btn-unique btn-color btn-rounded btn-sm">
        <i class="large material-icons">cancel</i>Cancel
    </a>
</form>

{% endblock %}