{% extends 'base.html' %}

{% block jumbotron %}
<header class="masthead">
    <div class="jumbotron center-align">
        <div class="container jumbotron-about">
            <h1>Spark up your appetite</h1>
            <span class="subheading">When we feel hungry but we don't know what we could make, we need some
                inspiration.
                Look through some community contributed recipes to find something for you. Avoid that takeaway
                option!</span>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col s12 col-md-10 mx-auto">
        <form class="form-inline mr-auto" method="GET">
            <input name="search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <div class="input-field col s12">
                <select name="sort">
                    <option value="" disabled selected>Sort By</option>
                    <option value="recipe_name">Name</option>
                    <option value="difficulty">Difficulty</option>
                    <option value="total_time">Time</option>
                    <option value="serves">Serves</option>
                </select>
            </div>
            <button id="search_button" class="btn btn-unique btn-color btn-rounded btn-sm my-0"
                type="submit">Search</button>
        </form>
    </div>


    <div class="col s12">

        {% if recipes is none %}
            {% for recipe in recipes %}
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}"
                        onerror="this.src='../static/images/placeholder.jpg'">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">
                            <h2 class="header">{{recipe.recipe_name}}</h2>
                        </a>
                        <div class="icon_group">
                            <div class="mainpageIcons">
                                <i class="small material-icons">access_time</i>
                                <p>Time:{{recipe.total_time}}<span>mins</span></p>
                            </div>

                            <div class="mainpageIcons">
                                <i class="small material-icons">free_breakfast</i>
                                <p>Difficulty:{{recipe.difficulty}}</p>
                            </div>

                            <div class="mainpageIcons">
                                <i class="small material-icons">local_dining</i>
                                <p>Serves:{{recipe.serves}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipe_buttons">
                    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
                        class="btn btn-unique btn-color btn-rounded btn-sm my-0" id="delete_recipe">
                        <i class="large material-icons">delete_forever</i>Delete
                    </a>
                    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
                        class="btn btn-unique btn-color btn-rounded btn-sm my-0" id="edit_recipe">
                        <i class="large material-icons">update</i>Edit
                    </a>
                </div>
            </div>
            {% endfor %}

        {% else %}
            <h2>There are no recipes currently. Be the first to add one. People are hungry.</h2>
        {% endif %}
    </div>
</div>




{% endblock %}