{% extends 'base.html' %} {% block content %}


<section class="row recipe_content">
    <div class="col s12 m4 l4">
        <img id="recipeImage" class="recipeImage" src="{{recipe.recipe_image}}" alt="{{recipe.recipe_name}}"
        onerror="this.src='/static/images/placeholder.jpg'">
    </div>

    <div class="col s12 m8 l8">
        <h1 id="recipe_title">{{recipe.recipe_name}}</h1>
        <div class="recipe_description">
            <p>{{recipe.recipe_description}}</p>
        </div>
        <div>
            <div>
                <i class="small material-icons">access_time</i>
                <div>
                    <div>
                        Preparation Time: {{recipe.prep_time}}
                    </div>
                    <div>
                        Cooking Time: {{recipe.cooking_time}}
                    </div>
                </div>


            </div>
            <div>
                <i class="small material-icons">free_breakfast</i>Difficulty: {{recipe.difficulty}}
                <i class="small material-icons">local_dining</i>Serves: {{recipe.serves}}
            </div>
        </div>
    </div>
</section>

<!-- Section for ingredients and cooking methods. A list item is created for each one found. -->
<div class="row">
    <div class="col s12 m6 l6 ingredients">
        <h4>List of Ingrediants</h4>
        <ul>
            {% for ingredient in recipe.ingredients %}

            <li>{{ingredient}}</li>

            {% endfor %}
        </ul>
    </div>

    <div class="col s12 m6 l6 cooking_methods">
        <h4>Cooking Methods</h4>
        <ul>
            {% for method in recipe.methods %}

            <li>{{method}}</li>

            {% endfor %}
        </ul>
    </div>
</div>

<a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-unique btn-color btn-rounded btn-sm my-0">
    <i class="large material-icons">edit</i>Edit
</a>
<a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-unique btn-color btn-rounded btn-sm my-0">
    <i class="large material-icons">delete_forever</i>Delete
</a>
{% endblock %}